<% @items.each do |item|%>
  <a href="/items/<%= item.id %>">
  <div id="wrapper">
    <section>
      <h2><%= item.name %></h2>
      <figure>
        <!--<img src= imageable.src alt= imageable.alt width="304" height="228"> -->
        <%image_name = item.name + ".jpg" %>
        <img src="<%= image_path("#{image_name}") %>" class="img-circle" width="300" height="300"/>
      </figure>
      <span><a href=<%= "/buy/#{item.id}" %> class="btn btn-primary pull-right">Buy</a></span>
      <span class="btn btn-primary"> price <%=item.price%>$</span>
      <span class="btn btn-primary pull-right"> <%= item.quantity%> left </span>
    </section> <br>
  </div>
  </a>
<%end%>
