<% @items.each do |item|%>
  <a href="/items/<%= item.id %>">
  <div id="wrapper">
    <section>
      <h3><%= item.name %></h3>
      <figure>
        <!--<img src= imageable.src alt= imageable.alt width="304" height="228"> -->
        <%image_name = item.name + ".jpg" %>
        <img src="<%= image_path("#{image_name}") %>" width="304" height="228"/>
      </figure>
      <span> price <%=item.price%> </span>
      <span> <%= item.quantity%> left </span>
    </section> <br>
  </div>
  </a>
<%end%>
