<div id="show">
    <h3><%= @item.name %></h3>
    <figure>
      <!--<img src= imageable.src alt= imageable.alt width="304" height="228"> -->
      <% image_name = @item.name + ".jpg" %>
      <img src="<%= image_path("#{image_name}") %>" class="img-circle" width="300" height="300"/>
    </figure>
    <br>
    <span><a href="#" class="btn btn-primary pull-right">Buy</a></span>
    <span class="btn btn-primary pull-right"> <%= @item.quantity%> left  price <%=@item.price%>$</span>
    <h3>Description: <small><%= @item.description %></small><h3>
</div>
